<html>
  <body>
    <h3>Known Channels</h3>
    <ul>
    {% for channel in channels %}
      <form action="/channel/notify">
      <div><strong>{{ channel.name }}</strong>
          <a href="/subscribe?channel={{ channel.name }}">Subscribe</a>
            <input type="hidden" name="channel" value="{{ channel.name }}">
            <input type="submit" value="Notify Channel">
      </div>
      </form>
    {% endfor %}
    </ul>

    <div>
      <a href="/channel">Add channel</a>
    </div>
  </body>
</html>
